@import "../variables";

$mobileHeight: 60px;
$desktopHeight: 80px;
$itemsDesktopPadding: 15px;
$itemDesktopWidth: 190px;

nav {
  width: 100%;
  background-color: darken($lightGrey, 1%);
  border-bottom: 2px solid darken($lightGrey, 6%);
  height: $desktopHeight;
  .items {
    height: $desktopHeight;
    width: $itemDesktopWidth * 4;
    margin: 0 auto;
    padding: $itemsDesktopPadding 0;
    @media(max-width: $mobileMax) {
      height: 100%;
      width: 100%;
      padding: 3px 0;
    }
  }
  .item {
    cursor: pointer;
    float: left;
    height: $desktopHeight - ($itemsDesktopPadding * 2);
    width: $itemDesktopWidth;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $headerFontFamily;
    padding: 8px 0;
    text-align: center;
    border-right: 1px solid $grey-100;
    color: $grey-500;
    &:hover {
      color: $grey-700;
    }
    svg {
      width: 24px;
      height: auto;
      position: relative;
      top: 4px;
      right: 5px;
      @media(max-width: $mobileMax){
        width: 35px;
      }
    }
    &:last-of-type {
      border-right: none;
    }
    &.active {
      color: $darkBlue;
      &:hover {
        color: darken($darkBlue, 5%);
      }
    }
    @media(max-width: $mobileMax){
      height: 100%;
      width: 25%;
      padding: 4px 0;
      .md-icons {
        position: relative;
        left: 5px;
      }
      .title {
        display: block;
        width: 100%;
        clear: both;
        font-size: 15px;
        position: relative;
        bottom: 3px;
      }
    }
  }
}
.sticky {
  z-index: 9999!important;
}
