.Spinner {
  .cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }

  .cube-grid .cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
  }

  .cube-grid .cube1 {  animation-delay: 0.2s; }
  .cube-grid .cube2 {  animation-delay: 0.3s; }
  .cube-grid .cube3 {  animation-delay: 0.4s; }
  .cube-grid .cube4 {  animation-delay: 0.1s; }
  .cube-grid .cube5 {  animation-delay: 0.2s; }
  .cube-grid .cube6 {  animation-delay: 0.3s; }
  .cube-grid .cube7 {  animation-delay: 0s; }
  .cube-grid .cube8 {  animation-delay: 0.1s; }
  .cube-grid .cube9 {  animation-delay: 0.2s; }

  @keyframes cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
  }
}

