$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: 768px;

$darkestBlue: #09347A;
$darkBlue: #0169A4;
$blue: #007DC3;
$lightBlue: #3399CC;
$orange: #F1632A;
$darkGrey: #464646;
$grey: #B7B7B7;
$lightGrey: #F6F6F5;
$white: #fff;