$darkestBlue: #09347a;
$darkBlue: #0169a4;
$blue: #007dc3;
$lightBlue: #3399cc;
$orange: #f1632a;
$darkGrey: #464646;
$grey: #b7b7b7;
$grey-700: darken($grey, 20%);
$grey-600: darken($grey, 15%);
$grey-500: darken($grey, 10%);
$grey-100: lighten($grey, 15%);
$lightGrey: #f6f6f5;
$white: #fff;

$desktopMin: 760px;
$mobileMax: 759px;

$desktopWidth: 960px;
$tabletWidth: 760px;
$tabletMinWidth: 501px;
$phoneMaxWidth: 500px;
$largePhone: 500px;
$phoneWidth: 450px;
$smallPhoneWidth: 400px;

$headerFontFamily: 'Oswald', 'Helvetica', 'Arial', sans-serif;
$subHeaderFontFamily: 'Lato', 'Helvetica', 'Arial', sans-serif;
