.fade-enter .container {
  opacity: 0.01;
}
.fade-enter.fade-enter-active .container{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-leave .container {
  opacity: 1;
}
.fade-leave.fade-leave-active .container {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
